body p {
  text-align: justify;
}

.navbar-toggler {
  background-color: white;
}

.carousel {
  padding: 0px;
}

.carousel-inner {
  padding: 0px;
}

.carousel-item {
  padding-top: 1rem;
  transition: all 1s;
}

.carousel-item > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-caption {
  margin-bottom: -1.25rem;
}

@media screen and (max-width: 575px) {
  .carousel-item {
    min-height: 1000px;
  }
}

@media screen and (min-width: 576px) {
  .carousel-item {
    min-height: 1020px;
  }
}

@media screen and (min-width: 768px) {
  .carousel-item {
    min-height: 920px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-item {
    min-height: 700px;
  }
}

@media screen and (min-width: 1000px) {
  .carousel-item {
    min-height: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .carousel-item {
    min-height: 650px;
  }
}

@media screen and (min-width: 1400px) {
  .carousel-item {
    min-height: 650px;
  }
}

/* ************************************************************ */

.owl-carousel .owl-item {
  transition: all 0.3s ease-in-out;
  padding: 10px;
}

.owl-carousel .owl-item .card {
  position: relative;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
  transform: scale(0.95);
  border: solid 1px transparent;
  transition: all 0.8s;
  background-color: #edf6fb;
}

.owl-carousel .owl-item img {
  height: 160px;
  object-fit: cover;
}

.owl-carousel .owl-item .card .name {
  position: absolute;
  bottom: -20px;
  left: 33%;
  color: #101c81;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: aquamarine;
  padding: 0.3rem 0.4rem;
  border-radius: 0px;
  box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item.active.center .card {
  opacity: 1;
  transform: scale(1.05);
  border: solid 1px #a6d6ed;
  background-color: #dbeef7;
}

.owl-carousel .owl-dots {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
  height: 12px;
  width: 12px;
  background: #a6e7ff !important;
  border-radius: 0% !important;
  /* opacity: 0.8; */
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  height: 12px;
  width: 12px;
  /* opacity: 1; */
  background: #4eaddb !important;
}

@media (min-width: 480.6px) and (max-width: 575.5px) {
  .owl-carousel .owl-item .card .name {
    left: 24%;
  }
}

@media (max-width: 360px) {
  .owl-carousel .owl-item .card .name {
    left: 30%;
  }
}

@media (max-width: 576px) {
  section {
    background-color: #fff;
  }
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  z-index: 1;
  width: 36px;
  height: 36px;
  background-color: #ccc;
  border-radius: 0%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

.owl-nav button span {
  font-size: 30px;
  line-height: 1;
  height: 100%;
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav button.owl-prev {
  left: -15px;
}
.owl-carousel .owl-nav button.owl-next {
  right: -15px;
}

.btn-wrap {
  text-align: center;
  width: 100%;
}

.nav-item {
  padding: 0rem 0.12rem;
}

.nav-link {
  color: #fff;
  border-bottom: solid 2px transparent;
  transition: all 1s;
}

.nav-link:hover {
  color: #fff;
  border-color: #fff;
}

.nav-link:active {
  color: #fff;
  border-color: #fff;
}

.fading {
  transition: all 1s;
}

.heroinput {
  border-radius: 0px;
}

.navbtn {
  color: #fff;
  border-color: #fff;
  transition: all 1s;
}

.navbtn:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
  transition: all 1s;
}

.cardmkt {
  border: solid 1px #333;
  background-color: #222;
  transition: all 1s;
}

.cardmkt:hover {
  border-color: #1d01c3;
  background-color: #1d01c3;
}

.cardmkt-linkreset {
  text-decoration: none;
  color: #fff;
}

.cardmkt-linkreset:hover {
  text-decoration: none;
  color: #fff;
}

.cardti {
  border: solid 1px #aaa;
  background-color: #eee;
  transition: all 1s;
}

.cardti:hover {
  background-color: #edf6fb;
  border: solid 1px #1d01c3;
}

.cardti-linkreset {
  text-decoration: none;
  color: #000;
}

.cardti-linkreset:hover {
  text-decoration: none;
  color: #000;
}

.carddesign {
  border: solid 1px #7a1dfe;
  background-color: transparent;
  transition: all 1s;
}

.carddesign-linkreset {
  text-decoration: none;
  color: #000;
}

.carddesign-linkreset:hover {
  text-decoration: none;
  color: #000;
}

/* BOOTSTRAP BUTTONS SET */

.btn-primary {
  background-color: #1d01c3;
  transition: all 1s;
  color: #fff;
  border: solid 1px transparent;
}

.btn-primary:hover {
  background-color: #000;
  color: #fff;
  border-color: transparent;
}

.btn-outline-primary {
  background-color: transparent;
  transition: all 1s;
  color: #1d01c3;
  border: solid 1px #1d01c3;
}

.btn-outline-primary:hover {
  background-color: #1d01c3;
  color: #fff;
  border-color: transparent;
}

.btn-secondary {
  background-color: #19ff4c;
  transition: all 1s;
  color: #000;
  border: solid 1px transparent;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #000;
  border-color: transparent;
}

.btnhoverwhite:hover {
  background-color: #fff;
  color: #000;
  border-color: transparent;
}

.btn-warning {
  background-color: #fe8b00;
  transition: all 1s;
  color: #fff;
  border: solid 1px transparent;
}

.btn-warning:hover {
  background-color: #000;
  color: #fff;
  border-color: transparent;
}

.btnplan {
  background-color: transparent;
  transition: all 1s;
  color: #19ff4c;
  border: solid 1px #19ff4c;
}

.btnplan:hover {
  background-color: #19ff4c;
  color: #000;
}

.fading {
  transition: all 1s;
}

.textbounce {
  -webkit-animation: bounce2 0.5s infinite alternate;
  -moz-animation: bounce2 0.5s infinite alternate;
  animation: bounce2 0.5s infinite alternate;
}

@keyframes bounce2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}

.accordion {
  position: relative;
}

.accordion-item {
  margin-bottom: 1rem;
  background-color: #05330f;
  color: #e8eaed;
  border-color: transparent;
  transition: all 1s;
  border-radius: 0px !important;
}

.accordion-button {
  background-color: #0e0061;
  color: #e8eaed;
  transition: all 1s;
  box-shadow: 0px 0px 0px;
  border-radius: 0px !important;
}

.accordion-body {
  padding: 25px 50px;
  border-radius: 0px !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #19ff4c !important;
  border-radius: 0px !important;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
  background-color: #19ff4c !important;
  color: #000 !important;
  text-decoration: none !important;
  border: hidden !important;
  border-color: transparent !important;
  box-shadow: 0px !important;
  border-radius: 0px !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent !important;
  outline: 0;
  box-shadow: 0px 0px 0px transparent !important;
  border-radius: 0px !important;
}

.forminput {
  border: solid 1px #444;
  background-color: #111;
  color: #fff;
}

.forminput:hover {
  border-color: #1d01c3;
}

.forminput:focus {
  border-color: #1d01c3;
  background-color: #333;
  color: #fff;
}

.btndark {
  background-color: #333;
  border: solid 1px #555;
  color: #fff;
}

.btndark:hover {
  background-color: #555;
  border: solid 1px #555;
  color: #fff;
}

.btnpurple {
  background-color: #7a1dfe;
  border: solid 1px #7a1dfe;
  color: #fff;
}

.btnpurple:hover {
  background-color: #fff;
  border: solid 1px #fff;
  color: #000;
}

#list li {
  color: white;
}

#list2 {
  padding-left: 0;
  list-style: none;
}

#list2 li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}

#list2 li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5rem;
  content: '';
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E")
    no-repeat center center / 100% auto;
}
